.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

footer {
  padding: 10px;
  background-color: #f1f1f1;
  color: #555;
}
